@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-color: var(--mainBGColor);

  height: 100vh;
  width: 100vw;
}

.spel-welcome-div {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center; 
}

.spel-welcome-div h2 {
  color: rgba(230, 230, 230, 1);
}

.welcome-div-hidden {
  animation: hideElement 1s ease forwards;
}

#main-div {
  display: none;
  width: 75vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

@keyframes hideElement {
  to {
    color: rgba(230, 230, 230, 0);
  }
}

/*Content-div*/
#content-div {
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;

  width: 75vw;
  height: 80vh;

  padding: 10px;
}
.content-div-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  overflow-y: scroll;
}

/* Suspect cards*/

.suspect-card {
  background-color: transparent;
  perspective: 1000px;
}

.suspect-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
  border-radius: 10px;

  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.suspect-card-front, .suspect-card-back {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  top: 0;

  padding: 5px;

  font-family: Arial, Helvetica, sans-serif;

  position: absolute;
  backface-visibility: hidden;
}

.suspect-card-front {
  background-color: white;
}

.suspect-card-back {
  background-color: white;
  transform: rotateY(180deg);
}

.suspect-card-back > div {
  height: 70%;
  width: 80%;

  border: 1px solid black;
}

/*Suspect image*/
.suspect-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}

.suspect-image {
  width: 100%;
}

.suspect-name {
  width: 100%;
  background-color: var(--mainBGColor);
  color: white;
  font-size: 1.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*Suspect Info*/
.suspect-info-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.suspect-info-div > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*Suspect Notes*/

/*Is suspect a suspect still styles*/
.suspect-is-no-suspect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;

  transition: all 0.5s ease;

  display: grid;
  place-items: center;
}

.add-suspect-button {
  display: flex;
}