@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mainBGColor);

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.wrong-answer-pop {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40vh;
  width: 60vw;

  border: 3px solid black;
  border-radius: 10px;

  z-index: 100;
}

.spel-welcome-div {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center; 
}

.spel-welcome-div h2 {
  color: rgba(230, 230, 230, 1);
  font-family: var(--fontHeaders);
}

.welcome-div-hidden {
  animation: hideElement 1s ease forwards;
}

#main-div {
  display: none;
  width: 70vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-left: 2.5vw;
}

@media (max-width: 800px) {
  #main-div {
    width: 95vw;
  }
}

@keyframes hideElement {
  to {
    color: rgba(230, 230, 230, 0);
  }
}

/*CONTENT DIV ----------------------------------------------*/
#content-div {
  border-radius: 20px;

  width: 100%;
  height: 90vh;

  padding: 3%;
}
.content-div-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 60%;
  grid-gap: 20px;

  overflow-y: scroll;
}

.content-div-flex {
  background-color: white;
  border: 2px solid black;
  overflow-y: scroll;
}

/* SUSPECT CARDS ---------------------------------------------*/

.suspect-card {
  background-color: transparent;
  perspective: 1000px;
  border-radius: 10px;
}

.suspect-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid white;
  border-radius: 10px;

  box-shadow: 2px 2px rgba(0, 0, 0, 0.4);

  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.suspect-card-front, .suspect-card-back {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  top: 0;

  padding: 5px;

  font-family: Arial, Helvetica, sans-serif;

  position: absolute;
  backface-visibility: hidden;
}

.suspect-card-front {
  background-color: white;
}

.suspect-card-back {
  background-color: white;
  transform: rotateY(180deg);
}

.suspect-card-back > div {
  height: 70%;
  width: 80%;

  border: 1px solid black;

  word-wrap: break-word;
  overflow-y: scroll;
}

/*Suspect image*/
.suspect-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60%;
  width: 100%;
}

.suspect-image {
  height: 100%;
  width: 100%;
}

.suspect-name {
  width: 100%;
  background-color: var(--mainBGColor);
  color: white;
  font-size: 1.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*Suspect Info*/
.suspect-info-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.suspect-info-div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/*Suspect Notes*/

/*Is suspect a suspect still styles*/
.suspect-is-no-suspect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;

  transition: all 0.5s ease;

  display: grid;
  place-items: center;

  border-radius: 10px;
}

/* .add-suspect-button {
  display: flex;

  background-color: rgba(255, 255, 255, 0);
  color: rgba(0,0,0,1);

  transition: all 0.3s ease;
} */

.suspect-card-front-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 70%;
}

/* Knappar i suspect */

.suspect-card button {
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 3px;

  transition: all 0.3s ease;
}

.suspect-card-front button {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 1);

  width: 40%;
  height: 100%;
}

.suspect-card-back button {
  height: 20%;
  width: 50%;
}

.suspect-is-no-suspect button {
  background-color: rgb(216, 216, 216);
  color: rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
  width: 50%;
  height: 30%;
}

.suspect-card button:hover {
  background-color: rgba(0,0,0,0.7);
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Media queries*/

@media (max-width: 1200px) {
  .content-div-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60%;
  }
}

@media (max-width: 900px) {
  .content-div-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 65%;
  }
}

@media (max-width: 650px) {
  .content-div-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 75%;
  }
}

/* NOTES PAGE -------------------------------------------------- */

.notes-top-controll {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 15%;
  padding: 5%;

  border-bottom: 2px solid black
}

.notes-top-controll > h1 {
  font-family: var(--fontHeaders);
}

.note-add-button {
  height: 5vw;
  width: 5vw;
  
  border: 2px solid black;
  border-radius: 50%;

  font-family: var(--fontHeaders);
  font-size: 1rem;

  transition: all 0.3s ease;
}

.note-add-button:hover {
  cursor: pointer;
  
  font-size: 1.3rem;

  transition: all 0.3s ease;
}

#note-container {
  padding: 5%;
  z-index: 1;
}

.note-container-div {
  border-bottom: 2px solid black;

  margin: 2px 0 0 2px;

  padding: 1%;

  transition: all 0.3s ease;
}

.notes {
  margin-bottom: 2vh;
  
  height: 3vh;

  transition: all 0.3s ease;

  word-wrap: break-word;
  overflow: hidden;
}

.note-info-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.note-title {
  font-family: var(--fontHeaders);
  z-index: 2;
}

.note-date {
  font-family: var(--fontContentText);
}

.note-title-active {
  border-bottom: 2px solid black;
  margin-bottom: 2px;
  width: 50%;
  padding-left: 2%;

  word-wrap: break-word;
}

.notes-active {
  height: 20vh;

  border: 2px solid black;
  border-radius: 10px;

  padding: 2%;

  transition: all 0.3s ease;
}

.notes-delete-button {
  height: 5vh;
}

.notes-save-button {
  height: 5vh;
}

.notes-active-buttons {
  width: 25%;
  display: flex;
}

.notes-active-buttons > button {
  cursor: pointer;
  margin: 5px;
}

.notes-active-buttons > button:hover {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.note-container-div:not(.note-container-active):hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;

  border-radius: 10px;

  transition: all 0.3s ease;
}

@media (max-width: 800px) {
  .note-add-button {
    margin-right: 5%;
    height: 10vw;
    width: 10vw;
  }
}

/* HOME PAGE -----------------------------------------------*/

.home-container-div {
  height: 100%;
  width: 100%;

  padding: 1%;

  overflow-y: scroll;

  font-family: var(--fontContentText);
}

.home-image {
  width: 22%;
  margin-left: calc(50% - (25% / 2));
}

.home-title {

}

.home-text-container {
  width: 100%;
}

.home-text-container > p {
  margin: 0.8rem 0.8rem 0 0;

  font-size: 1rem;
}

.home-text-container > p:last-child {
  font-weight: bold;
}

/*Information page ------------------------------------------------------------------*/

/*Notifacation section--------------------------------*/
.notification-section {

}

.notification-container {
  padding: 2%;
  border: 1px solid black;
  border-radius: 10px;

  margin-bottom: 0.7rem;
}

.notification-title {
  font-family: var(--fontHeaders);
}

.notification-content-container {
  font-family: var(--fontContentText);
}

.notification-content-container > p {
  margin: 0.7rem 0 0.7rem 0;
}

.notification-content-container > a {
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.notification-content-container > a:hover {
  text-decoration: underline;
}

/*Interrogation section------------------------------*/

/* #informationPageSplit {
  width: 100%;
  border: 2px solid black;
} */

.interrogation-section {

}

/*The information just above all the records*/
.interrogation-information {
  margin: 0 0 0.8rem 0;

  font-family: var(--fontContentText);
  font-size:1rem;
  font-weight: bold;
}
/*Box with all the records*/
.interrogations-container {

}

/*The individual records container*/
.inter-record-container {
  border-bottom: 2px solid black;
  margin-bottom: 2%;
  padding-bottom: 5px;
}
/*Contains the title and name in same div*/
.inter-record-upper-info {
  font-size: 1.3rem;
  font-family: var(--fontHeaders);
}
/*Name*/
.inter-record-upper-info > span{

}

/*Contains publish, date and button in same div*/
.inter-record-lower-info {
  font-family: var(--fontContentText);
  font-weight: bold;
}
/*Date*/
.inter-record-lower-info > span{
 font-weight: normal;
}

/*record button click to see...*/
.see-more-interrogation {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0.9rem;
}

.see-more-interrogation:hover {
  text-decoration: underline;
}

embed {
  transition: height 300ms ease;
}
/*Embed is showing pdf*/
.pdf-showing {
  margin: 1rem auto 1rem;

  transition: height 300ms ease;
}

/* See more button is clicked
.seeMore-active {

} */

/*INVESTIGATION PAGE --------------------------------------------------------------*/
.investigation-clue-div {

}

.investigation-guess-div h2 {
  font-family: var(--fontHeaders);;
}

.investigation-guess-div p {
  font-family: var(--fontContentText);
  font-weight: bold;

  margin-bottom: 2%;
}

.investigation-guess-div > div{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.investigation-guess-div .suspect-card-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 1px solid black;
  border-radius: 10px;
  font-family: var(--fontContentText);

  padding: 2%;
}

.investigation-guess-div .suspect-card-inner > div {
  
}

.investigation-guess-div .suspect-card-inner button {
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 3px;

  transition: all 0.3s ease;
}

.investigation-guess-div .suspect-card-inner button {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 1);

  width: 40%;
  height: 5vh;
}

.investigation-guess-div .suspect-card-inner button:hover {
  background-color: rgba(0,0,0,0.7);
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
  cursor: pointer;
}

/*CLue submition*/

.investigation-submit-button {
  height: 4vw;
  width: 15%;
  border-radius: 10px;

  background-color: rgba(255,255,255,0);
  color: rgba(0, 0, 0, 1);
}

.investigation-submit-button:hover, .investigation-submit-button:focus {
  background-color: rgba(0,0,0,0.7);
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
}

.investigation-submition-thankyou {
  margin: 2vw 0 2vw 0;

  font-weight: bold;
}

.investigation-submit-input {
  width: 75%;
  height: 5vw;
  border-radius: 10px;

  padding: 5px;

  outline: none;

  margin-right: 2%;
  transition: all 200ms ease;
}

.investigation-submit-input:hover, .investigation-submit-input:focus {
  outline: 2px solid black;
  outline-offset: 1px;
  border: none;
  
  transition: outline 200ms ease;
}

.investigation-clue-content {
  margin: 2vw 0 2vw 0;

  font-weight: bold;
}

.investigation-clue-submit-div div:nth-child(3) {

}

.investigation-clue-submit-div {
  padding: 2%;

  border: 2px solid black;
  border-radius: 10px;

  margin-bottom: 2vw;

  font-family: var(--fontContentText);
}

@media (max-width: 1200px) {
  .investigation-guess-div > div {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60%;
  }

  .investigation-clue-submit-div div:nth-child(3) {

  }
}

@media (max-width: 900px) {
  .investigation-guess-div > div {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 65%;
  }

  .investigation-clue-submit-div div:nth-child(3) {
    display: block;
  }
}

@media (max-width: 650px) {
  .investigation-guess-div > div {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 75%;
  }

  .investigation-clue-submit-div div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .investigation-submit-input {
    width: 100%;
    margin-bottom: 1vw;
  }

  .investigation-submit-button {
    height: 5vw;
    width: 25%;
  }
}