:root {
    --prenVar: #EED0A8;
    --navBkg: #C7392B;
    --fontFam: sans-serif;
    --fontSizeNav: 15px;
    --fontSizeDate: 1.8vw;
    --fontSizeWeather: 1.4vw;
    --fontSizeWeatherTemp: 1vw;
    --fontSizeNewsFeedTitle: 2vw;
    --fontSizeNewsFeedIngress: 1vw;
    --fontSizeMostViewed: 1vw;
    --fontSizeArticleTitle: 2vw;
    --fontSizeArticleIngress: 1.4vw;
    --fontSizeArticleText: 1.3vw;
    --navHov: #ca6258;
    --wrapperWidth: 70%;
    --sideBarWidth: 30%;
    --sideBarMarg: 2%;
    --footerText: 15px;
    --footerTitle: 20px;
    --footerLinks: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFam);
}

body {
    width: 100vw;
    overflow-x: hidden;
}

/* placeholder between nav and main */
#placeholder {
    height: 3vh;
    background-color: white;
    position: sticky;
    top: 5vh;
}

main {
    display: flex;
    justify-content: center;
}

/* both newsfeed and sidebar */
#newsContainer {
    flex-basis: var(--wrapperWidth);
    display: flex;
}

/* only the newsfeed */
#newsFeed {
    flex-basis: calc(100% - var(--sideBarWidth) - var(--sideBarMarg));
}

#sideBar {
    flex-basis: var(--sideBarWidth);
    position: sticky;
    margin-left: var(--sideBarMarg);
    /* border: 1px solid red; */
    height: 81vh;
    top: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#senasteNytt {
    /* height: 15vh; */
    border: 1px solid black;
    padding: 3vh 2vw 3vh 2vw;
}

#news {
    border: 1px solid black;
    margin-top: 3vh;
    padding: 0 2vw 2vw 2vw;
}

#newsFeed img {
    width: 100%;
    margin-bottom: 2vh;
}

#newsFeed h2 {
    margin-bottom: 2vh;
}

#newsFeed p {
    line-height: 1.7;
    font-size: var(--fontSizeNewsFeedIngress);
}

#news a.article {
    /* height: 10vh; */
    border-bottom: 2px solid var(--navBkg);
    padding-bottom: 3vh;
    padding-top: 3vh;
    display: block;
}

#newsHeader {
    height: 5vh;
    background-color: var(--navHov);
}

a {
    text-decoration: none;
    color: black;
}

.newArticle {
    color: var(--navBkg);
    text-transform: uppercase;
    margin-right: 1%;
}

#newestNews {
    flex-grow: 1;
    border: 1px solid black;
    padding: 1vw;
    height: 80%;
}

#sideBar h3 {
    font-size: 1.5vw;
}

#articleBody {
    display: flex;
    min-height: 64vh;
    width: var(--wrapperWidth);
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
}

#articleBody span:hover {
    cursor: pointer;
    /* color: var(--navBkg); */
}

.articleTitle, .articleIngress, .articleParagraph {
    margin-bottom: 2vh;
    padding-left: 1vw;

}

.articleTitle {
    font-size: var(--fontSizeArticleTitle);
    font-weight: bold;
}

.articleIngress {
    font-size: var(--fontSizeArticleIngress);
    font-weight: bold;
}

.articleParagraph {
    font-size: var(--fontSizeArticleText);
}

#articleBody .articleImage {
    margin-bottom: 2vh;
    width: 100%;
}

#articleBody #sideBar {
    height: 63vh;
}

#newsFeed.articleNewsFeed {
    flex-basis: 70%;
    padding: 3vw 0;
}

#newsPlus {
    padding: 1vw;
    justify-content: center;
}

#newsPlus h4 {
    font-weight: lighter;
    font-size: var(--fontSizeWeather);
}

#newsPlus h4.fat {
    font-weight: bold;
}

#newsPlus h4.mini {
    font-size: var(--fontSizeWeatherTemp);
}

#newsPlus p {
    font-size: var(--fontSizeWeatherTemp);
}

.weatherDiv, #newsPlus {
    display: flex;
    align-items: center;
}

#newsFeed h2 {
    font-size: var(--fontSizeNewsFeedTitle);
}

.sortedContainer {
    border: 1px solid black;
    padding: 0 2vw;
}

.sortedContainer a.article {
    border-bottom: 2px solid var(--navBkg);
    padding-bottom: 3vh;
    padding-top: 3vh;
    display: block;
}

.readWholeBox {
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    margin-top: 10vh;
}

.readWholeBox > span:hover {
    text-decoration: underline;
    color: darkslategrey;
}

.sortedContainer a.article:last-child {
    border-bottom: none;
}

#subscribing-overlay {
    position: absolute;
    /* top: 0; */
    left: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .95);
    z-index: 500;
}

#subscribing-overlay > img {
    height: 15vh;
}

#mostViewed {
    height: 90%;
    margin-top: 1.5vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding: 0 2vw;
    /* position: relative; */
}

.mostViewed:first-child {
    /* position: relative;
    top: 0; */
}

#mostViewed > .article {
    display: block;
    flex-basis: 10vh;
    padding: 2vw 0;
    /* flex-grow: 1; */
    border-bottom: 1px solid var(--navBkg);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#mostViewed > .article:last-child {
    border-bottom: none;
}

#mostViewed h5 {
    font-size: var(--fontSizeMostViewed);
    font-weight: lighter;
}

